<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shreyaprabhu.ppfcompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PPFReport"
            android:label="@string/title_activity_ppfreport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MyPlan"
            android:label="@string/title_activity_my_plan"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:authorities="com.example.shreyaprabhu.ppfcompanion"
            android:name=".Data.DataContentProvider"
            android:grantUriPermissions="true"
            android:exported="true">
        </provider>

        <service
            android:name=".Widget.WidgetService"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".Widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_stock_widget_info" />
        </receiver>

    </application>

</manifest>